header {
    min-width: 50em;
    height: 7em;
    margin: 20px;
}

body {
    background-image: url("../image/background.png");
    background-color: white;
    background-position: right -300px top;
    background-repeat: no-repeat;
}

.page-content {
    width: 90%;
    float: left;
    margin: 5px;
}

.nav {
    width: 12em;
    margin: 20px;
    background-color: #d9d9d9;
    border-radius: 3px;
    float: left;
    box-shadow: 3px 3px 2px black;
}

.nav ul li a:link,
a:visited {
    color: black;
    background-color: #bfbfbf;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 4px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: none;
    display: block;
    padding: 3px;
}

.nav ul li a:hover{
    background-color: #f2f2f2;
}

.nav ul li .active {
    background-color: #f2f2f2;
}

.nav ul li {
    margin: 2px;
    list-style-type: none;
}

.nav ul {
    padding: 3px;
}

.register {
    background-color: #5487FF;
    color: white;
    font-size: 20px;
    padding: 16px;
    border-radius: 6px;
    border-top: 1px solid #2E68F0;
    border-left: 1px solid #2E68F0;
    border-bottom: 3px solid #2E68F0;
    border-right: 3px solid #2E68F0;
    outline: none;
    display: block;
    margin: 30px auto;
}

.register:active {
    background-color: #2E68F0;
}

.logo-container {
    background-color: #d9d9d9;
    height: 120px;
    width: 60%;
    float: left;
    margin-right: -26px;
    border: 2px solid black;
    border-radius: 6px;
}

.header-stripe-one {
    width: 22px;
    height: 120px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #737373;
    float: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header-stripe-two {
    width: 20px;
    height: 120px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #4d4d4d;
    float: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.header-stripe-three {
    width: 20px;
    height: 120px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: black;
    float: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0px 6px 6px 0px;
}

.logo {
    float: left;
}

.content-panel {
    background-color: #d9d9d9;
    width: 70%;
    float: left;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 3px 3px 2px black;
    text-align: center;
}

.content-panel h1 {
    font-size: 30px;
    font-family: "Arial Black", Geneva, sans-serif;
}

.content-panel h2 {
    font-size: 20px;
    font-family: Vandana, Geneva, sans-serif;
}

.content-panel h3 {
    font-size: 20px;
    font-family: Vandana, Geneva, sans-serif;
}

.content-panel p {
    font-family: Vandana, Geneva, sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.about-us-img {
    height: 250px;
    outline: none;
    display: block;
    margin: 30px auto;
    border: 3px solid black;
}

.event-img {
    width: 30em;
}

.email-link{
    font-family: Vandana, Geneva, sans-serif;
    color:blue;
}

.center-list {
    display: block;
    margin: 30px auto;
    font-family: Vandana, Geneva, sans-serif;
    width: 300px;
    text-align: left;
}

.align-left {
    text-align: left;
    padding-left: 15px;
}

.align-right {
    text-align: right;
}

.align-top {
    vertical-align: text-top;
}

.image-container img {
    height: 270px;
    margin: 15px;
}
table {
    margin: 30px auto;
    background-color: #f2f2f2;
    border-radius: 6px;
    border: 2px solid #bfbfbf;
    padding: 6px;
}

td {
    font-family: Vandana, Geneva, sans-serif;
    text-align: left;
    padding-right: 50px;
}